body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f7f7;
  color: #333;
}

nav {
  background-color: #333;
  padding: 0.6rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #111;
}

div {
  padding: 15px;
}

h1 {
  font-size: 24px;
  text-align: center;
}

p {
  font-size: 18px;
}

nav:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  nav ul li {
    float: none;
  }
}

.App-footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.8rem;
}

.App {
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
}