  div > div {
    margin-bottom: 10px;
  }
  
  div > div:nth-child(2), div > div:nth-child(3) {
    font-size: 0.8em;
    color: #666;
  }
  
  button {
    margin-right: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #5C6BC0;
    color: white;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3949AB;
  }