section {
  padding: 20px;
  border-bottom: 1px solid #eee;
}

h2 {
  color: #333;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 15px;
}

li h3 {
  color: #5C6BC0;
}

li p {
  color: #666;
}

a {
  color: #3949AB;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}